# .github/workflows/test-monitoring.yml
name: Test Failure Monitoring

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  simulate-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Simulate failure
        run: |
          echo "Deploying..."
          exit 1

  notify-on-failure:
    needs: simulate-deploy
    if: failure()
    uses: mohanakkireddy/deployment-monitoring-service/.github/workflows/deployment-monitor.yml@main
    with:
      repo: ${{ github.repository }}
      run_id: ${{ github.run_id }}
      workflow_name: ${{ github.workflow }}
      branch: ${{ github.ref_name }}
    secrets:
      MONITORING_SERVICE_URL: ${{ secrets.MONITORING_SERVICE_URL }}
